.App {
  background-color: lightgray;
  text-align: center;
  background-image: 'https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';
  font-family: 'Freckle Face', cursive;
  padding: 0 0 5rem 0;
}

.characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem;
}

.character-wrapper {
  margin: 3rem;
  background-color: gainsboro;
  border: 1px solid white;
  padding: 4rem;
  border-radius: 5rem;
  /* background-image: url('https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
}
.character-name {
  background-color: white;
  border-radius: 2rem;
  margin: 0 0 2rem 0;
}

.title {
  font-size: 8rem;
  margin: 0 3rem 3rem 3rem;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin: 5rem;
  padding: 5rem;
}

a:hover{
  color: darkgray;
}
nav {
  padding: 4rem;
  background-color: white;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.character-img {
  border-radius: 50rem;
  justify-content: space-around;
}



.episode{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.episode-card {
  box-sizing: border-box;
  background-color: gainsboro;
  border: 1px solid white;
  border-radius: 4rem;
  justify-content: space-around;
  padding: 3rem;
  margin: 2rem 5rem;
}

.location {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.location-card {
  max-width: 40%;
  box-sizing: border-box;
  background-color: gainsboro;
  border: 1px solid white;
  border-radius: 4rem;
  justify-content: space-around;
  padding: 3rem;
  margin: 5rem auto;
}



/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */

